<ng-container *ngIf="projectsLoading">
  <div class="flex flex-wrap justify-content-center min-w-full min-h-full">
    <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
  </div>
</ng-container>
<ng-container *ngIf="projectList">
  <div class="flex flex-wrap overflow-y-scroll min-w-full min-h-full">
    <ng-container *ngFor="let project of projectList">
      <div class="flex flex-nowrap my-1 w-full border-round-3xl hover:bg-primary">
        <div class="flex flex-wrap m-0 w-6">
          <div class="flex align-items-center justify-content-start font-bold mt-2 ml-2 w-full">
            <h4 class="mb-0">{{project.name}}</h4>
          </div>
          <div class="flex align-content-start justify-content-start ml-2 w-full">
            <h6 class="mt-1">{{project.description}}</h6>
          </div>
        </div>

        <div class="flex flex-wrap m-0 w-3">
          <div class="flex align-items-center justify-content-start font-bold mt-2 ml-2 w-full">
            <h5 class="mb-0">Con. Origen</h5>
          </div>
          <div class="flex align-content-start justify-content-start ml-2 w-full">
            <h6 class="mt-1">{{project.sourceConnection?.name}}</h6>
          </div>
          <div class="flex align-items-center justify-content-start font-bold mt-2 ml-2 w-full">
            <h5 class="mb-0">Con. Destino</h5>
          </div>
          <div class="flex align-content-start justify-content-start ml-2 w-full">
            <h6 class="mt-1">{{project.targetConnection?.name}}</h6>
          </div>
        </div>
        <div class="flex flex-wrap m-0 w-3">

        </div>
      </div>
    </ng-container>
  </div>
</ng-container>

<ng-container *ngIf="!projectList && !projectsLoading">
  No Hay Proyectos
</ng-container>
