<form [formGroup]="projectFormGroup">
  <div class="formgrid grid m-2">
    <div class="field p-float-label col-12">
      <input pInputText id="projName" class="w-full" formControlName="name" />
      <label htmlFor="projName">Nombre</label>
    </div>
    <div class="field p-float-label col-12">
      <textarea id="projDesc" class="w-full" formControlName="description" rows="5" cols="30"
        pInputTextarea></textarea>
      <label for="projDesc">Descripción</label>
    </div>
    <div class="field p-float-label col-6">
      <p-dropdown inputId="select-sconn-drop" styleClass="w-full" [options]="connectionList"
        formControlName="sourceConnection" dataKey="id" [filter]="true" filterBy="name" [showClear]="true"
        placeholder="Conexión Origen" appendTo="body" (onChange)="changeSourceConn($event)">
        <ng-template pTemplate="selectedItem">
          <div class="flex align-items-center gap-2" *ngIf="selSourceConn">
            <div>{{ selSourceConn.name }}</div>
          </div>
        </ng-template>
        <ng-template let-connection pTemplate="item">
          <div class="flex align-items-center gap-2">
            <div>{{ connection.name }}</div>
            <span>{{ connection.host + ':' + connection.port}}</span>
          </div>
        </ng-template>
      </p-dropdown>
      <label for="select-sconn-drop">Conexión Origen</label>
    </div>
    <div class="field p-float-label col-6">
      <p-dropdown inputId="select-tconn-drop" styleClass="w-full" [options]="connectionList"
        formControlName="targetConnection" dataKey="id" [filter]="true" filterBy="name" [showClear]="true"
        placeholder="Conexión Destino" appendTo="body" (onChange)="changeTargetConn($event)">
        <ng-template pTemplate="selectedItem">
          <div class="flex align-items-center gap-2" *ngIf="selTargetConn">
            <div>{{ selTargetConn.name }}</div>
          </div>
        </ng-template>
        <ng-template let-connection pTemplate="item">
          <div class="flex align-items-center gap-2">
            <div>{{ connection.name }}</div>
            <span>{{ connection.host + ':' + connection.port}}</span>
          </div>
        </ng-template>
      </p-dropdown>
      <label for="select-tconn-drop">Conexión Destino</label>
    </div>
    <div class="field col-12">
      <label>Auto-Generar dependencias <br /><p-toggleButton formControlName="autoPopulate" onLabel="Sí"
          offLabel="No"></p-toggleButton></label>
    </div>

  </div>

  <div class="formgrid grid mt-6">
    <p-button type="submit" label="Guardar" (onClick)="submit()" [disabled]="!projectFormGroup.valid"
      [loading]="formLoading || false"></p-button>
  </div>
</form>
