<app-connection-list [connectionList]="connectionList" [(selectedConn)]="selectedConn" (listRefreshEvent)="onExecuteRefresh();" [tableLoading]="tableLoading" [deleteLoading]="deleteLoading"
  (editConnEvent)="onEditConnection()" (deleteConnEvent)="onDeleteConnection()" (createConnEvent)="onCreateConnection()" (syncUpEvent)="onSyncUpEvent()" [syncUpLoading]="syncLoading"></app-connection-list>

<app-tables-container [connection]="selectedConn"></app-tables-container>


<p-dialog header="Información de la Conexión" [(visible)]="showForm" [modal]="true" [style]="{width: '50vw'}" >
<app-connection-data-form  [connection]="selectedConn" [formLoading]="formLoading"
  (saveConnection)="saveConnectionData($event)"></app-connection-data-form>
</p-dialog>
