<ng-container *ngIf="projectList">
  <p-card header="Proyectos">
    <p-table [value]="projectList" [totalRecords]="numTables" selectionMode="single" dataKey="id" [(selection)]="selectedProject" [(first)]="firstIndex"
      [loading]="tableLoading" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" [paginator]="true" [rows]="10"
      [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          Proyectos
          <div class="flex">
            <p-button class="h-full" icon="pi pi-refresh" [text]="true" (onClick)="refreshList();" pTooltip="Refrescar lista" tooltipPosition="top"></p-button>
            <p-button class="h-full" icon="pi pi-pencil" [text]="true" (onClick)="editProject()"
              [disabled]="!selectedProject" pTooltip="Editar Proyecto" tooltipPosition="top"></p-button>
            <p-button class="h-full" icon="pi pi-trash" [text]="true" (onClick)="deleteProject()" [disabled]="!selectedProject"
              [loading]="deleteLoading || false" pTooltip="Eliminar Proyecto" tooltipPosition="top"></p-button>
            <p-button class="h-full" icon="pi pi-plus" [text]="true" (onClick)="createProject()" pTooltip="Crear nuevo Proyecto" tooltipPosition="top"></p-button>
            <p-button class="h-full" [icon]="'pi ' + (!selectedProject || isExecutable(selectedProject) ? 'pi-play' : 'pi-stop')"
              [text]="true" [disabled]="!selectedProject" (onClick)="onScheduleProject()"
              [loading]="schedulingLoading || false" pTooltip="Ejecutar / Detener Proyecto" tooltipPosition="top"></p-button>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>&nbsp;</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Conex. Origen</th>
          <th>Conex. Destino</th>
          <th>Creado</th>
          <th>&nbsp;</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-project>
        <tr>
          <td>
            <p-tableRadioButton [value]="project"></p-tableRadioButton>
          </td>
          <td>{{ project.name }}</td>
          <td>{{ project.description }}</td>
          <td>{{ project.sourceConnection?.name }}</td>
          <td>{{ project.targetConnection?.name }}</td>
          <td>{{ project.createdAt | date:'d/M/yy h:mm:ss a' }}</td>
          <td><i [class]="'pi' + ' ' + (project.locked ? 'pi-lock' : 'pi-lock-open')"></i></td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</ng-container>
