<ng-container *ngIf="connectionList">
  <p-card header="Conexiones">
    <p-table [value]="connectionList" [totalRecords]="numTables" selectionMode="single" dataKey="id" [(selection)]="selectedConn"
      (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" [paginator]="true" [rows]="10" [loading]="tableLoading"
      [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          Conexiones
          <div class="flex">
            <p-button class="h-full" icon="pi pi-refresh" [text]="true" (onClick)="refreshList();" pTooltip="Refrescar lista" tooltipPosition="top"></p-button>
            <p-button class="h-full" icon="pi pi-sync" [text]="true" (onClick)="syncUpConnection();"
              [disabled]="!selectedConn" pTooltip="Sincronizar Tablas y Columnas" tooltipPosition="top" [loading]="syncUpLoading || false"></p-button>
            <p-button class="h-full" icon="pi pi-pencil" [text]="true" (onClick)="editConnection()"
              [disabled]="!selectedConn" pTooltip="Editar Conexión" tooltipPosition="top"></p-button>
            <p-button class="h-full" icon="pi pi-trash" [text]="true" (onClick)="deleteConnection()"
              [disabled]="!selectedConn" [loading]="deleteLoading || false" pTooltip="Eliminar Conexión" tooltipPosition="top"></p-button>
            <p-button class="h-full" icon="pi pi-plus" [text]="true" (onClick)="createConnection()" pTooltip="Crear nueva Conexión" tooltipPosition="top"></p-button>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem"></th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Host</th>
          <th>Tipo</th>
          <th>&nbsp;</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-connection>
        <tr>
          <td>
            <p-tableRadioButton [value]="connection"></p-tableRadioButton>
          </td>
          <td>{{ connection.name }}</td>
          <td>{{ connection.description }}</td>
          <td>{{ connection.host + ':' + connection.port }}</td>
          <td>{{ connection.type }}</td>
          <td><i [class]="'pi' + ' ' + (connection.locked ? 'pi-lock' : 'pi-lock-open')"></i></td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</ng-container>
