<ng-container *ngIf="errorList">
  <p-card [header]="'Errores de ' + (job? job.projectName + ' #' + job.execNumber: 'N/A')">
    <p-table [value]="errorList" [totalRecords]="numTables" selectionMode="single" dataKey="id" [(selection)]="selectedError"
      [loading]="tableLoading" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" [paginator]="true" [rows]="10"
      [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          Errores
          <div class="flex">
            <p-button class="h-full" icon="pi pi-refresh" [text]="true" (onClick)="refreshList();" pTooltip="Refrescar lista" tooltipPosition="top"></p-button>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>&nbsp;</th>
          <th>Fecha</th>
          <th>Mensaje</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-error>
        <tr>
          <td>
            <p-tableRadioButton [value]="error"></p-tableRadioButton>
          </td>
          <td>{{ error.date | date }}</td>
          <td>{{ error.message }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</ng-container>
