<ng-container *ngIf="defList">
  <p-card [header]="'Definiciones de ' + (plan? plan.sourceTable.name + ' -> ' + plan.targetTable.name : 'N/A')">
    <p-table [value]="defList" selectionMode="single" dataKey="id" [(selection)]="selectedDef" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" [loading]="tableLoading"
      [paginator]="true" [rows]="10" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          Definiciones
          <div >
            <p-button icon="pi pi-refresh" [text]="true" (onClick)="refreshList();"></p-button>
            <p-button icon="pi pi-pencil" [text]="true" (onClick)="editDef()" [disabled]="!selectedDef"></p-button>
            <p-button icon="pi pi-trash" [text]="true" (onClick)="deleteDef()" [disabled]="!selectedDef" [loading]="deleteLoading || false"></p-button>
            <p-button icon="pi pi-plus" [text]="true" (onClick)="createDef()"></p-button>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem"></th>
          <th>Columna Origen</th>
          <th>Columna Destino</th>
          <th>Función</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-definition>
        <tr>
          <td>
            <p-tableRadioButton [value]="definition"></p-tableRadioButton>
          </td>
          <td>{{ definition.sourceColumn?.name }}</td>
          <td>{{ definition.targetColumn?.name }}</td>
          <td>{{ definition.conversionFunction }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</ng-container>
