<p-toast [life]="7500"></p-toast>


<div class="grid">
  <div class="col-2 bg-primary static">
    <div class="flex flex-column mt-5 xl:mt-4 justify-content-center w-full sticky">

      <div class="flex justify-content-center">
        <p-image src="assets/logo-blanco.png" alt="SeguriData Logo" [style]="{'display': 'none'}" imageClass="flex w-11 lg:w-8"
          styleClass="flex justify-content-center"></p-image>
      </div>
      <div class="flex justify-content-center xl:justify-content-start mt-6 lg:mt-5">
        <p-button pRipple [routerLink]="['/']" label="Inicio" icon="pi pi-home"
          styleClass="hidden xl:inline-flex xl:text-xl bg-primary" [text]="true"></p-button>
        <p-button pRipple [routerLink]="['/']" styleClass="inline-flex xl:hidden bg-primary" [text]="true">
          <i class="pi pi-home text-2xl md:text-lg"></i>
        </p-button>
      </div>
      <div class="flex justify-content-center xl:justify-content-start mt-8">
        <p-button pRipple [routerLink]="['/connections']" label="Conexiones" icon="pi pi-database"
          styleClass="hidden xl:inline-flex xl:text-xl bg-primary" [text]="true"></p-button>
        <p-button pRipple [routerLink]="['/connections']" styleClass="inline-flex xl:hidden bg-primary" [text]="true">
          <i class="pi pi-database text-2xl md:text-lg"></i>
        </p-button>
      </div>
      <div class="flex justify-content-center xl:justify-content-start mt-4 lg:mt-3">
        <p-button pRipple [routerLink]="['/projects']" label="Proyectos" icon="pi pi-briefcase"
          styleClass="hidden xl:inline-flex xl:text-xl bg-primary" [text]="true"></p-button>
        <p-button pRipple [routerLink]="['/projects']" styleClass="inline-flex xl:hidden bg-primary" [text]="true">
          <i class="pi pi-briefcase text-2xl md:text-lg"></i>
        </p-button>
      </div>
      <div class="flex justify-content-center xl:justify-content-start mt-4 lg:mt-3">
        <p-button pRipple [routerLink]="['/jobs']" label="Tareas" icon="pi pi-bolt"
          styleClass="hidden xl:inline-flex xl:text-xl bg-primary" [text]="true"></p-button>
        <p-button pRipple [routerLink]="['/jobs']" styleClass="inline-flex xl:hidden bg-primary" [text]="true">
          <i class="pi pi-bolt text-2xl md:text-lg"></i>
        </p-button>
      </div>

    </div>
  </div>

  <div class="col-10" style="z-index: 1000;">
    <router-outlet></router-outlet>
  </div>
</div>
