<ng-container *ngIf="columnList">
  <p-card [header]="'Columnas de ' + (table? table.name: 'N/A')">
    <p-table [value]="columnList" [totalRecords]="numTables" selectionMode="single" dataKey="id" [(selection)]="selectedColumn" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" [loading]="tableLoading"
      [paginator]="true" [rows]="10" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          Columnas
          <div class="flex">
            <p-button class="h-full" icon="pi pi-refresh" [text]="true" (onClick)="refreshList();" pTooltip="Refrescar lista" tooltipPosition="top"></p-button>
            <p-button class="h-full" icon="pi pi-pencil" [text]="true" (onClick)="editColumn()" [disabled]="!selectedColumn" pTooltip="Editar Columna" tooltipPosition="top"></p-button>
            <p-button class="h-full" icon="pi pi-trash" [text]="true" (onClick)="deleteColumn()" [disabled]="!selectedColumn" [loading]="deleteLoading || false" pTooltip="Eliminar Columna" tooltipPosition="top"></p-button>
            <p-button class="h-full" icon="pi pi-plus" [text]="true" (onClick)="createColumn()" pTooltip="Crear nueva Columna" tooltipPosition="top"></p-button>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem"></th>
          <th>Columna</th>
          <th>Descripción</th>
          <th>Tipo Dato</th>
          <th>Tamaño Dato</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-column>
        <tr>
          <td>
            <p-tableRadioButton [value]="column"></p-tableRadioButton>
          </td>
          <td>{{ column.name }}</td>
          <td>{{ column.description }}</td>
          <td>{{ column.dataType }}</td>
          <td>{{ column.dataLength }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</ng-container>
