<form [formGroup]="connFormGroup">
  <div class="formgrid grid m-2">
    <div class="field p-float-label col-12">
      <input pInputText id="connName" class="w-full" formControlName="name" />
      <label for="connName">Nombre</label>
    </div>
    <div class="field p-float-label col-12">
      <textarea id="connDesc" class="w-full" formControlName="description" rows="5" cols="30" pInputTextarea></textarea>
      <label for="connDesc">Descripción</label>
    </div>
    <div class="field p-float-label col-6">
      <input pInputText id="connHost" class="w-full" formControlName="host" />
      <label for="connHost">Host</label>
    </div>
    <div class="field p-float-label col-6">
      <p-inputNumber inputId="connPort" class="w-full" styleClass="w-full" inputStyleClass="w-full" formControlName="port" [useGrouping]="false"> </p-inputNumber>
      <label for="connPort">Puerto</label>
    </div>
    <div class="field p-float-label col-6">
      <input pInputText id="object-service" class="w-full" formControlName="objectService" />
      <label for="object-service">Servicio / Instancia</label>
    </div>
    <div class="field p-float-label col-6">
      <input pInputText id="connDatabase" class="w-full" formControlName="database" />
      <label for="connDatabase">Base de Datos / Namespace</label>
    </div>
    <div class="field p-float-label col-6">
      <input pInputText id="connUsername" class="w-full" formControlName="username" />
      <label for="connUsername">Usuario</label>
    </div>
    <div class="field p-float-label col-6">
      <input id="connPassword" class="w-full" type="password" pPassword formControlName="password" [feedback]="false" />
      <label for="connPassword">Password</label>
    </div>
    <div class="field p-float-label col-12">
      <p-dropdown formControlName="type" placeholder="Tipo de base" appendTo="body" [options]="dbTypes"
        optionLabel="name" optionValue="code" inputId="db-type" styleClass="w-full"></p-dropdown>
      <label for="db-type">Seleccione proveedor</label>
    </div>
  </div>

  <p-button type="submit" label="Guardar" (onClick)="submit()" [loading]="formLoading || false"
    [disabled]="!connFormGroup.valid"></p-button>
</form>
