<form [formGroup]="defFormGroup">
  <div class="formgrid grid m-2">
    <div class="field p-float-label col-4">
      <p-dropdown inputId="select-scol-drop" styleClass="w-full" [options]="sourceColumnList"
        formControlName="sourceColumn" dataKey="id" [filter]="true" filterBy="name" [showClear]="true"
        placeholder="Columna Origen" appendTo="body" (onChange)="changeSourceColumn($event)">
        <ng-template pTemplate="selectedItem">
          <div class="flex align-items-center gap-2" *ngIf="selSourceColumn">
            <div>{{ selSourceColumn.name }}</div>
          </div>
        </ng-template>
        <ng-template let-column pTemplate="item">
          <div class="flex align-items-center gap-2">
            <div>{{ column.name }} ({{ column.dataType }})</div>
          </div>
        </ng-template>
      </p-dropdown>
      <label for="select-scol-drop">Columna Origen</label>
    </div>
    <div class="field p-float-label col-4">
      <p-dropdown formControlName="conversionFunction" placeholder="Función de Conversión" [options]="convFunctions"
        optionLabel="name" optionValue="code" inputId="conv-func" styleClass="w-full" appendTo="body"></p-dropdown>
      <label for="conv-func">Función de Conversión</label>
    </div>
    <div class="field p-float-label col-4">
      <p-dropdown inputId="select-tcol-drop" styleClass="w-full" [options]="targetColumnList"
        formControlName="targetColumn" dataKey="id" [filter]="true" filterBy="name" [showClear]="true"
        placeholder="Columna Destino" appendTo="body" (onChange)="changeTargetColumn($event)">
        <ng-template pTemplate="selectedItem">
          <div class="flex align-items-center gap-2" *ngIf="selTargetColumn">
            <div>{{ selTargetColumn.name }}</div>
          </div>
        </ng-template>
        <ng-template let-column pTemplate="item">
          <div class="flex align-items-center gap-2">
            <div>{{ column.name }} ({{ column.dataType }})</div>
          </div>
        </ng-template>
      </p-dropdown>
      <label for="select-tcol-drop">Columna Destino</label>
    </div>

  </div>

  <p-button type="submit" label="Guardar" (onClick)="submit()" [disabled]="!defFormGroup.valid"
    [loading]="formLoading || false"></p-button>
</form>
