<ng-container *ngIf="jobList">
  <p-card header="Tareas">
    <p-table [value]="jobList" [totalRecords]="numTables" selectionMode="single" dataKey="id"
      [(selection)]="selectedJob" [loading]="tableLoading" (onRowSelect)="onRowSelect($event)" [(first)]="firstIndex"
      (onRowUnselect)="onRowUnselect($event)" [paginator]="true" [rows]="10" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          Tareas
          <div class="flex">
            <p-button class="h-full" icon="pi pi-refresh" [text]="true" (onClick)="refreshList();"
              pTooltip="Refrescar lista" tooltipPosition="top"></p-button>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 5rem">&nbsp;</th>
          <th>&nbsp;</th>
          <th pSortableColumn="projectName">Nombre Proyecto <p-sortIcon field="projectName"></p-sortIcon></th>
          <th pSortableColumn="execNumber">Num. Ejecución <p-sortIcon field="execNumber"></p-sortIcon></th>
          <th pSortableColumn="createdAt">Creado <p-sortIcon field="createdAt"></p-sortIcon></th>
          <th pSortableColumn="startedAt">Iniciado <p-sortIcon field="startedAt"></p-sortIcon></th>
          <th pSortableColumn="finishedAt">Terminado <p-sortIcon field="finishedAt"></p-sortIcon></th>
          <th>Estatus</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-job let-expanded="expanded">
        <tr>
          <td>
            <button type="button" pButton pRipple [pRowToggler]="job"
              class="p-button-text p-button-rounded p-button-plain"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
          </td>
          <td>
            <p-tableRadioButton [value]="job"></p-tableRadioButton>
          </td>
          <td>{{ job.projectName }}</td>
          <td>#{{ job.execNumber }}</td>
          <td>{{ job.createdAt | date:'d/M/yy h:mm:ss a' }}</td>
          <td>{{ job.startedAt | date:'d/M/yy h:mm:ss a' }}</td>
          <td>{{ job.finishedAt | date:'d/M/yy h:mm:ss a' }}</td>
          <td><i [class]="'pi ' + resolveIcon(job.status)"></i>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-job>
        <tr>
          <td colspan="8">
            <div class="p-3">
              <p-table [value]="job.planStats" [totalRecords]="job.planStats.length" [paginator]="true" [rows]="10" dataKey="planId">
                  <ng-template pTemplate="header">
                      <tr>
                          <th>Plan</th>
                          <th>Estatus</th>
                          <th>Progreso</th>
                          <th>Registros</th>
                          <th>Resultado</th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-stat>
                      <tr>
                          <td>{{ stat.planName }}</td>
                          <td>{{ translateStatus(stat.status) }}</td>
                          <td><p-progressBar [value]="stat.progress" [showValue]="true"></p-progressBar> {{stat.progress | number:'1.2-2'}}%</td>
                          <td>{{ stat.rowsProcessed? stat.rowsProcessed : 0 }} de
                            <span *ngIf="stat.rowsForCompletion != null">{{ stat.rowsForCompletion }}</span>
                            <i *ngIf="stat.rowsForCompletion == null" class="pi pi-clock" style="font-size: 1rem" pTooltip="Esperando por la cantidad total" tooltipPosition="top"></i>
                          </td>
                          <td>{{ translateResult(stat.result) }}</td>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                      <tr>
                          <td colspan="4">No hay estadísticas de ejecución</td>
                      </tr>
                  </ng-template>
              </p-table>
          </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</ng-container>
