<form [formGroup]="columnFormGroup">
  <div class="field">
    <span class="p-float-label">
      <input pInputText id="name" formControlName="name" />
      <label htmlFor="name">Nombre</label>
    </span>
  </div>
  <div class="field">
    <span class="p-float-label">
      <textarea id="description" formControlName="description" rows="5" cols="30" pInputTextarea></textarea>
      <label for="description">Descripción</label>
    </span>
  </div>
  <div class="field">
    <span class="p-float-label">
      <p-dropdown [options]="dataTypes" formControlName="dataType" placeholder="Tipo Dato" optionLabel="name"
        optionValue="code" inputId="float-label" appendTo="body"></p-dropdown>
      <label for="float-label">Tipo Dato</label>
    </span>
  </div>
  <div class="field">
    <span class="p-float-label">
      <input pInputText id="data-length" formControlName="dataLength" />
      <label htmlFor="data-length">Tamaño Dato</label>
    </span>
  </div>
  <p-button type="submit" label="Guardar" (onClick)="submit()" [disabled]="!columnFormGroup.valid"
    [loading]="formLoading || false"></p-button>
</form>
