<form [formGroup]="tableFormGroup">
  <div class="formgrid grid m-2">
    <div class="field p-float-label col-6">
      <input pInputText id="schema" class="w-full" formControlName="schema" />
      <label htmlFor="schema">Schema</label>
    </div>
    <div class="field p-float-label col-6">
      <input pInputText id="name" class="w-full" formControlName="name" />
      <label htmlFor="name">Nombre</label>
    </div>
    <div class="field p-float-label col-12">
      <textarea id="description" class="w-full" formControlName="description" rows="5" cols="30"
        pInputTextarea></textarea>
      <label for="description">Descripción</label>
    </div>
    <div class="field p-float-label col-12">
      <p-dropdown inputId="order-col" styleClass="w-full" [options]="columnList" formControlName="orderColumnName"
        optionLabel="name" optionValue="name" appendTo="body" placeholder="Seleccionar Columna"></p-dropdown>
      <label htmlFor="order-col">Col. Ordenamiento</label>
    </div>
  </div>

  <p-button type="submit" label="Guardar" (onClick)="submit()" [disabled]="!tableFormGroup.valid"
    [loading]="formLoading || false"></p-button>
</form>
