<form [formGroup]="planFormGroup">
  <div class="field">
    <span class="p-float-label">
      <p-inputNumber inputId="order-num" formControlName="orderNum" [showButtons]="true" buttonLayout="stacked"
        [min]="1"></p-inputNumber>
      <label htmlFor="order-num">Orden de ejecución</label>
    </span>
  </div>
  <div class="field">
    <span class="p-float-label">
      <p-dropdown inputId="select-conn-drop" [options]="sourceTableList" formControlName="sourceTable" dataKey="id"
        [filter]="true" filterBy="name" [showClear]="true" placeholder="Tabla Origen" appendTo="body"
        (onChange)="changeSourceTable($event)">
        <ng-template pTemplate="selectedItem">
          <div class="flex align-items-center gap-2" *ngIf="selSourceTable">
            <div>{{ selSourceTable.name }}</div>
          </div>
        </ng-template>
        <ng-template let-table pTemplate="item">
          <div class="flex align-items-center gap-2">
            <div>{{ (table.schema ? table.schema + '.' : '') + table.name }}</div>
          </div>
        </ng-template>
      </p-dropdown>
      <label for="select-conn-drop">Tabla Origen</label>
    </span>
  </div>
  <div class="field">
    <span class="p-float-label">
      <p-dropdown inputId="select-conn-drop" [options]="targetTableList" formControlName="targetTable" dataKey="id"
        [filter]="true" filterBy="name" [showClear]="true" placeholder="Tabla Destino" appendTo="body"
        (onChange)="changeTargetTable($event)">
        <ng-template pTemplate="selectedItem">
          <div class="flex align-items-center gap-2" *ngIf="selTargetTable">
            <div>{{ selTargetTable.name }}</div>
          </div>
        </ng-template>
        <ng-template let-table pTemplate="item">
          <div class="flex align-items-center gap-2">
            <div>{{ (table.schema ? table.schema + '.' : '') + table.name }}</div>
          </div>
        </ng-template>
      </p-dropdown>
      <label for="select-conn-drop">Tabla Destino</label>
    </span>
  </div>
  <div class="field">
    <span class="p-float-label">
      <p-inputNumber inputId="initial-skip" formControlName="initialSkip" [showButtons]="true" buttonLayout="stacked"
        [min]="0"> </p-inputNumber>
      <label htmlFor="initial-skip">Omisión Inicial</label>
    </span>
  </div>
  <div class="field">
    <span class="p-float-label">
      <p-inputNumber inputId="row-limit" formControlName="rowLimit" [showButtons]="true" buttonLayout="stacked"
        [min]="1"> </p-inputNumber>
      <label htmlFor="row-limit">Límite de bloque</label>
    </span>
  </div>
  <div class="field">
    <span class="p-float-label">
      <p-inputNumber inputId="max-rows" formControlName="maxRows" [showButtons]="true" buttonLayout="stacked"
        [min]="-1"> </p-inputNumber>
      <label htmlFor="max-rows">Máximo de Registros</label>
    </span>
  </div>


  <p-button type="submit" label="Guardar" (onClick)="submit()" [disabled]="!planFormGroup.valid"
    [loading]="formLoading || false"></p-button>
</form>
